{%extends 'base.html'%}
{% block heading %}
    <h1>please fill the form</h1>
{% endblock %}

{% block body %}
    <form action="/input/" method="post">
    {%  csrf_token %}
    {% if form.errors %}
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    <input type="submit" value="Submit">
    </form>
{% endblock %}